<header class="app-header">
    <nav class="nav-menu">

        <ul class="lista-menu">

            <li class="item-menu">
                <a href="https://mail.docasdoceara.com.br/SOGo/">WEBMAIL</a>
            </li>

            <li class="item-menu">
                <a
                    href="https://sei.transportes.gov.br/sip/login.php?sigla_orgao_sistema=MT&sigla_sistema=SEI&infra_url=L3NlaS8=">
                    <img ngSrc="./assets/sei.png" height="52" width="87" alt=""></a>
            </li>
        </ul>
    </nav>
</header>