.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  height: 6vh;
  background-color: #002E5D;
}
.nav-menu {
  margin-right: 300px;
  display: flex;
  align-items: center;
  gap: 10px;

}
.container-img {
  margin-left: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}
 a{
  color: #ffff;
  text-decoration: none;
 }
